{% extends "layout-logged.html" %} {% block title %} Usuario: {{
usuario.username }} {% endblock %} {% block head %} {{ super () }} {% endblock
%} {% block content %}
<div style="border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)" class="container-fluid bg-light m-2 p-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="m-0">Información del Usuario</h1>
    <a href="/usuarios">
      <button class="btn boton">Volver</button>
    </a>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            <b>Nombre de usuario:</b> {{ usuario.username }}
          </p>
          <p class="card-text">
            <b>Correo electrónico:</b> {{ usuario.email }}
          </p>
          <p class="card-text"><b>Nombre:</b> {{ usuario.nombre }}</p>
          <p class="card-text"><b>Apellido:</b> {{ usuario.apellido }}</p>
          <p class="card-text">
            <b>Activo:</b> {{ "Si" if usuario.activo else "No" }}
          </p>
          <p class="card-text">
            <b>Fecha de creación:</b> {{ usuario.created_at.strftime("%d/%m/%y
            %H:%M") }}
          </p>
          <p class="card-text">
            <b>Última actualización:</b> {{
            usuario.updated_at.strftime("%d/%m/%y %H:%M") }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <a href="{{ url_for('usuarios.update', id=usuario.id) }}">
      <button class="btn boton">Modificar</button>
    </a>
    {% if usuario.activo %}
    <a href="{{ url_for('usuarios.deactivate_usuario', id=usuario.id) }}">
      <button class="btn boton">Deshabilitar</button>
    </a>
    {% else %}
    <a href="{{ url_for('usuarios.activate_usuario', id=usuario.id) }}">
      <button class="btn boton">Habilitar</button>
    </a>
    {% endif %}

    <a href="{{ url_for('usuarios.destroy', id=usuario.id) }}" data-bs-toggle="modal" style="cursor: pointer"
      data-bs-target="#exampleModal">
      <button class="btn btn-danger">Eliminar</button>
    </a>
  </div>
  <!-- MODAL DE CONFIRMACIÓN -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Eliminar usuario
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Seguro que desea eliminar al usuario {{ usuario.username }}?
        </div>
        <div class="modal-footer d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
          <form method="POST" action="{{ url_for('usuarios.destroy', id=usuario.id) }}">
            <button type="submit" class="btn boton">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}