{% extends "layout-logged.html" %} {% block title %} {{ super() }} Solicitudes {% endblock
%} {% block head %} {{ super () }} {% endblock %}

{% block content %}

<style>
    @media(min-width: 1024px) {
        .anotacion {
            width: 60%;
        }
    }
</style>
<div style="border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)" class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="m-0">{{ solicitud.servicio.nombre }} - Solicitud</h1>
        <a href="/solicitudes">
            <button class="btn boton">Volver</button>
        </a>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col border rounded bg-light m-2 p-3">
                    <h3>Información</h3>
                        <p>
                            <b>Número de solicitud:</b> {{ solicitud.id }} <br>
                            <b>Fecha de creación:</b> {{ solicitud.fecha_creacion.strftime("%d/%m/%Y") }} <br>
                            <b>Detalle:</b> {{ solicitud.detalle }}
                        </p>

                        <h4 class="mt-5">Sobre el cliente</h4>
                        <p>
                            <b>Nombre:</b> {{ solicitud.usuario.nombre }} <br>
                            <b>Contacto:</b> {{ solicitud.usuario.email }}
                        </p>
                </div>
                <div class="col border rounded bg-light m-2 p-3">
                    <h3>Estado</h3>
                    <p><b>Estado actual:</b> {{ solicitud.estado_actual.nombre }}</p>

                    <h4>Historial de cambios</h4>
                    <div style="overflow-y: scroll; max-height: 18rem">
                        <ul class="list-group">
                            {% for estado in solicitud.cambios_estado | sort(attribute='fecha') | reverse %}
                            <li class="list-group-item">
                                <b>{{ estado.fecha.strftime("%d/%m/%Y %H:%M") }}</b>
                                <p>La solicitud pasó al estado <b>{{ estado.estado.nombre }}</b>.</p>
                                Comentarios:
                                <p class="fst-italic fw-light">"{{ estado.comentario }}"</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col border rounded bg-light m-2 p-3">
                    <h3>Anotaciones</h3>

                    {% if solicitud.anotaciones %}
                        <button class="btn boton" data-bs-toggle="modal" data-bs-target="#addAnotacion">Agregar</button>
                        <div class="container" style="overflow-y: scroll; max-height: 20rem">
                            {% for anotacion in solicitud.anotaciones | sort(attribute='fecha') | reverse %}
                                <div class="anotacion my-2 bg-light rounded border border-secondary p-2 {{ 'float-lg-end' if anotacion.publicado_por == 'Institución' else 'float-lg-start'}}">
                                    <p class="fs-5 m-0 fw-bold">{{ anotacion.publicado_por }}</p>
                                    <textarea disabled class="p-2 form-control fst-italic fs-5 fw-light"
                                        style="resize:none; min-height: max-content">{{ anotacion.contenido }}</textarea>
                                    <p class="fst-italic m-0 fs-6 float-lg-end mx-3">{{ anotacion.fecha.strftime("%d/%m/%Y, %H:%M") }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>
                            Aún no se registraron anotaciones. <a href="#" data-bs-toggle="modal" data-bs-target="#addAnotacion">Agregar una anotación</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

<div class="d-flex justify-content-center align-items-center mt-3">
    <button data-bs-toggle="modal" style="cursor: pointer" data-bs-target="#eliminarModal" type="button"
        class="btn btn-danger">
        Eliminar
    </button>
    <a href="{{ url_for('solicitudes.update', id=solicitud.id) }}">
        <button class="btn boton">Modificar</button>
    </a>
</div>

<div class="modal fade" id="addAnotacion" tabindex="-1" aria-labelledby="addAnotacionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addAnotacionLabel">
                    Agregar anotación
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('solicitudes.add_anotacion', id=solicitud.id) }}">
                <label for="contenido" class="fs-5 fw-bold">Contenido</label>
                <textarea name="contenido" class="form-control bg-light" minlength="5" style="resize:none"
                          placeholder="Comentario de la anotación"></textarea>
            </div>
            <div class="modal-footer d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
                    <button type="submit" class="btn boton">Confimar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="eliminarModalLabel">
                    Eliminar solicitud
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Seguro que desea eliminar esta solicitud?
            </div>
            <div class="modal-footer d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <form method="POST" action="{{ url_for('solicitudes.destroy', id=solicitud.id) }}">
                    <button type="submit" class="btn boton">Confimar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}