{% extends "layout-logged.html" %} {% block title %} {{ super() }} Aplicación
Privada {% endblock %} {% block head %} {{ super () }} {% endblock %} {% block
navitems %} {{ super() }} {% endblock %} {% block content %}
<div class="container d-flex mx-0 mx-md-auto text-center text-lg-start">
  <div class="row justify-content-center">
    <div class="col-sm-6 my-auto container">
      <div class="row mx-auto">
        <div class="col-md-9 text-center text-md-start">
          <div class="col-md-3 d-flex my-auto">
            <img
              src="{{ url_for('static', filename='logos/cidepint.png') }}"
              class="img-index mx-auto"
            />
          </div>
          <img
            src="{{ url_for('static', filename='logos/orgs.png') }}"
            class="img-banner my-3"
          />
        </div>
      </div>
    </div>

    <div class="col-sm-6 fs-6 my-md-auto ps-2 ps-md-5">
      <h1>Panel del administrador</h1>
      <a href="{{ url_for('configuracion.index') }}">
        <h2 class="h2-a fs-4">Configuración</h2>
      </a>

      <a href="{{ url_for('instituciones.index') }}">
        <h2 class="h2-a fs-4">Instituciones</h2>
      </a>

      <a href="{{ url_for('usuarios.index') }}">
        <h2 class="h2-a fs-4">Usuarios</h2>
      </a>
    </div>
  </div>
</div>
{% endblock %}
