<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
            <!-- Google Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
            
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            
            <!-- CSS -->
            <link
                rel="stylesheet"
                href="{{ url_for('static', filename='styles/style.css') }}"
            />
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <title>{% block title %}CIDEPINT | {% endblock %}</title>

            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm">
          <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img class="img-navbar" src="{{ url_for('static', filename='logos/cidepint.png') }}">
          </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse order-last" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <!-- <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Página principal</a>
                  </li> -->
                  {% block navitems %}
                  {% endblock %}
              </ul>
              <div class="navbar-nav">
                <ul class="navbar-nav">
                    {% block navoptions %}
                    {% endblock %}
                </ul>
              </div>
            </div>
          </div>
        </nav>

            <div class="container-fluid d-flex justify-content-center pt-2 cont-main my-2">
                {% include 'flash.html' %}
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer class="container-fluid d-flex text-center p-3 border-top border-secondary-subtle d-none d-md-block">
          <p class="footer-content fs-6">
            Sitio creado por el Grupo 14 de la asignatura "<b>Proyecto de Software</b>" de la Facultad de Informática, UNLP (2023).
          </p>
        </footer>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
