:root {
  --blue-primary: #2f6690;
  --blue-secondary: #3a7ca5;
  --blue-accent: #81c3d7;
  --blue-light: #deeaf3;
  --gray-primary: #ebede9;
  --gray-secondary: #e0e3dd;
  --gray-accent: #c2c7bd;
  --indigo-primary: #16425b;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.main {
  padding: 3%;
  margin: 0;
}

body,
html {
  background-color: var(--gray-primary);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--blue-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
